@charset "UTF-8";

body{
	margin: 0;
	min-width: 1200px;
    min-height: 800px;
}

div.type1, div.type2, div.type3, div.type4{
	width: 100%;
    height: 100%;
}

div.type5{
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

div.type1 .contents{
	width: 100%;
    height: 100%;
    display: flex;
}

div.type2 .contents, div.type3 .contents, div.type4 .contents{
	width: 90%;
    height: 90%;
    display: flex;
    margin-left: 2.5%;
    float: left;
}

div.type5 .contents{
	width: 100%;
    height: 60%;
    background: black;
}

.w250{
	width: 250px !important;
}

.w85p{
	width: 85% !important;
}

.h75p{
	height: 75% !important;
}

.h90p{
	height: 90% !important;
}

.fs40{
	font-size: 40px !important;
}