@charset "UTF-8";

.title{
	width: 100%;
	height: 10%;
	display: flex;
    align-items: center;
    font-size: 20px;
}

.title span{
	border-radius: 30px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.title::before {
    content: "";
    flex-grow: 0.1;
    margin-left: 20px;
    background: black;
    height: 3px;
}

.title::after {
    content: "";
    flex-grow: 1;
    margin-right: 20px;
    background: black;
    height: 3px;
}

div.type2 .contents .left_area{
	width: 35%;
    height: 90%;
    margin-top: auto;
    box-sizing: border-box;
}

div.type2 .contents .right_area{
	width: 65%;
    height: 90%;
    margin-top: auto;
    box-sizing: border-box;
}

.info_head{
	width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_body{
	width: 100%;
    height: 45%;
    display: flex;
}

.info_head .img{
	min-width: 260px;
    max-width: 290px;
    height: 100%;
    width: 60%;
}

.info{
	width: 100%;
    height: 200px;
    max-width: 400px;
    font-size: 19px;
    margin: auto;
    padding: 0 0 0 0;
    list-style-type: none;
    line-height: 35px;
}

.info_title{
	display: inline-block;
    width: 35%;
}

.intro_area{
	width: 95%;
    height: 55%;
    margin: 0 2.5%;
}

.intro_head{
	width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.intro_body{
	width: 98%;
    height: 85%;
    margin: auto;
}

.intro_title{
	width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
}

.intro_title::before {
    content: "";
    background-image: url(/resources/img/quotation_marks_set.jpg);
    width: 40px;
    height: 40px;
    background-size: 200px 125px;
    background-position: -10px 35px;
    margin-right: 15px;
}

.intro_title::after {
    content: "";
    background-image: url(/resources/img/quotation_marks_set.jpg);
    width: 40px;
    height: 40px;
    background-size: 200px 125px;
    background-position: -55px 50px;
    margin-left: 15px;
}

.intro_title span {
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.intro_main{
	width: 100%;
    height: 85%;
    scrollbar-width: none;
    overflow-y: scroll;
    font-size: 16px;
}

.history_area, .skill_area{
	width: 45%;
    height: 45%;
    float: left;
    margin: 0 2.5%;
}

.history_head, .skill_head{
	width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.history_body, .skill_body{
	width: 100%;
    height: 80%;
}

.history_body ul {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
    display: inline-grid;
}

.history_body .number{
	width: 15%;
    height: 100%;
    float: left;
    font-weight: bold;
    display: flex;
    align-items: start;
    justify-content: center;
}

.history_body .text{
	width: 85%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: start;
}

.btn_area {
	width: 7.5%;
    height: 90%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 60px;
    height: 150px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
 
.btn .upBtn, .btn .downBtn{
	width: 100%;
    height: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
}

.btn .img{
	width: 65%;
    height: 55%;
    cursor: pointer;
}

div.type3 .contents .left_area{
	width: 60%;
    height: 95%;
    margin-top: auto;
    margin-right: auto;
}

div.type3 .contents .right_area{
	width: 30%;
    height: 80%;
    margin-top: auto;
}



.career_head {
	width: 100%;
    height: 15%;
}

.career_body {
	width: 100%;
    height: 80%;
}

.career_footer {
	width: 100%;
    height: 20%;
}

.career_head strong {
	width: 100%;
    height: 100%;
    font-size: 80px;
    display: inline-block;
}

.career_title {
	width: 100%;
	height: 10%;
}

.career_title strong {
	width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 50px;
}

.career_title span {
	font-size: 15px;
    font-weight: 100;
}

.career_main {
	width: 100%;
    height: 88%;
    margin-top: 2%;
    scrollbar-width: none;
    overflow-y: scroll;
    font-size: 20px;
}

.up_scroll_area {
	width: 100%;
    height: 15px;
   	background: white;
    position: sticky;
    top: 0px;
    text-align: center;
}

.down_scroll_area{
	width: 100%;
    height: 15px;
    background: white;
    position: sticky;
    bottom: 0px;
    text-align: center;
}

.up_scroll_area img, .down_scroll_area img{
	width: 25px;
    height: 100%;
    cursor: pointer;
}

.right_top, .right_bottom{
	width: 100%;
    height: 50%;
}

.growth_head, .used_head {
	width: 100%;
    height: 10%;
}

.growth_head strong, .used_head strong {
	width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 25px;
}

.growth_body, .used_body {
	width: 100%;
    height: 90%;
}

.growth_body ul {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
    display: inline-grid;
}

.growth_body .number{
	width: 5%;
    height: 100%;
    float: left;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: start;
}

.growth_body .text{
	width: 95%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: start;
    align-items: center;
}

.skill_body .used_body {
	display: table;
}

.skill_body span, .used_body span {
	float: left;
    border: solid 3px;
    border-radius: 5px;
    display: inline-grid;
    width: 20%;
    height: 20%;
    margin: 9px;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.layer {
	width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    background: black;
    z-index: 999;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);
}

.layer_img {
	width: 80%;
    height: 80%;
    background: white;
}

.layer_img img {
	width: 100%;
	height: 100%;
	cursor: pointer;

}
