@charset "UTF-8";

.last_head {
	width: 100%;
    height: 20%;
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
}

.last_body {
	width: 100%;
    height: 60%;
    color: white;
    font-size: 160px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last_footer {
	width: 100%;
    height: 20%;
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.btn{
	position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn img{
	width: 60%;
    height: 60%;
    cursor: pointer;
    margin: auto;
}